################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/restingprotos/.vs/v4demo_simulation_rest/v15/Server/sqlite3
/restingprotos/bin
/restingprotos/obj
